<div #mapContainer id="map" class="map">
</div>
<div class="dropdown-end mt-4">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
    aria-expanded="false">
    Map Type: {{typeSelect || 'Select'}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" (click)="onTypeChange('Point')">Point</a></li>
    <li><a class="dropdown-item" (click)="onTypeChange('LineString')">LineString</a></li>
    <li><a class="dropdown-item" (click)="onTypeChange('Polygon')">Polygon</a></li>
    <li><a class="dropdown-item" (click)="onTypeChange('Circle')">Circle</a></li>
  </ul>
</div>